<div id="app" class="hidden">
  <div data-include="./src/partials/layout/header.html"></div>
	  <nav id="navBar" class="nav-menu" aria-label="Primary navigation" aria-hidden="true"></nav>
  <main>
    <div data-include="./src/partials/views/home.html"></div>
    <div data-include="./src/partials/views/live.html"></div>
    <div data-include="./src/partials/views/agentconvo.html"></div>
    <div data-include="./src/partials/views/agentdash.html"></div>
    <div data-include="./src/partials/views/evaldash.html"></div>
    <div data-include="./src/partials/views/insights.html"></div>
    <div data-include="./src/partials/views/frauddash.html"></div>
    <div data-include="./src/partials/views/admindash.html"></div>
    <div data-include="./src/partials/views/supervisordash.html"></div>
    <div data-include="./src/partials/views/supqueue.html"></div>
    <div data-include="./src/partials/views/trainerdash.html"></div>
    <div data-include="./src/partials/views/team.html"></div>
    <div data-include="./src/partials/views/access.html"></div>
    <div data-include="./src/partials/views/audit.html"></div>
    <div data-include="./src/partials/views/agentdb.html"></div>
    <div data-include="./src/partials/views/batch.html"></div>
    <div data-include="./src/partials/views/kb.html"></div>
    <div data-include="./src/partials/views/fraud.html"></div>
    <div data-include="./src/partials/views/sup.html"></div>
    <div data-include="./src/partials/views/leader.html"></div>
    <div data-include="./src/partials/views/library.html"></div>
    <div data-include="./src/partials/views/settings.html"></div>
  </main>
</div>
